html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  align-self: flex-end;
}

a.link:hover {
  text-decoration: underline;
}

/* main */

.main {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* container */

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .title {
  align-self: flex-start;
  padding: 6rem 4rem;
  font-size: 2rem;
}

.container .content {
  height: calc(100vh - 0.5rem);
  overflow: scroll;
  padding-top: 10rem;
}

.container div {
  width: 100%;
}

/* content */

.content {
  padding: 6rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* card */

.card {
  width: 100%;
  min-height: 6rem;
  font-size: 1.2rem;
  padding: 2rem;
  border-radius: 4px;
  border: none;
  background-color: #111118;
  transition: 0.2s ease-in;
  text-align: start;
  line-height: 2.5rem;
  overflow: scroll;
}

.card.clickable {
  cursor: pointer;
}

.card.clickable:hover {
  filter: brightness(1.5);
}

.card.clickable:active {
  filter: brightness(1.8)
}

/* progress bar */

.progress {
  align-self: start;
  height: 0.5rem;
  background-color: rgb(130, 8, 236);
  transition: 0.2s ease-in;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/* back button */

.back-button {
  position: absolute;
  top: 1rem;
  left: 3rem;
  background: none;
  border: none;
  width: 4rem;
  padding: 0.5rem;
  padding-right: 0.8rem;
  border-radius: 2rem;
  display: flex;
  cursor: pointer;
  margin-top: 2rem;
  transition: 0.2s ease-in;
  margin-right: 1rem;
}

.back-button:hover {
  background: #232323;
}

.back-button svg {
  width: 3rem;
  height: 3rem;
}

/* media queries */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media only screen and (max-width: 1080px) {
  .container {
    height: auto;
    flex-direction: column;
  }

  .container .title {
    font-size: 0.8rem;
    padding: 6rem 6rem 0rem;
  }

  .container .content {
    height: auto;
    overflow: auto;
    padding-top: 1rem;
  }
}

/* animations & effects  */

.shaded {
  opacity: 0.6;
}

.fade-in {
  -webkit-animation: fadein 0.5s ease-in; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s ease-in; /* Firefox < 16 */
  -ms-animation: fadein 0.5s ease-in; /* Internet Explorer */
  -o-animation: fadein 0.5s ease-in; /* Opera < 12.1 */
  animation: fadein 0.5s ease-in;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}